@font-face {
    font-family: "Emblema One";
    src: url(fonts/EmblemaOne-Regular.woff),
         url(fonts/EmblemaOne-Regular.ttf);
}

body {
    font-family: Verdana, Geneva, Arial, sans-serif;
}

h1, h2 {
    font-family: "Emblema One", sans-serif;
    color: #cc6600;
    border-bottom: thin dotted #888888;
}

h1 {
    font-size: 170%;
}

h2 {
    font-size: 130%;
}

blockquote {
    font-style: italic;
}

em {
    text-decoration: line-through;
}