body{
    background-color: #d2b48c;
    font-family: sans-serif;
    /* La propiedad borde define el borde del elemento al que refiere el selector */
    /* Los varios valores hacen referencia a su tamaño, el estilo de borde y el color */
    border: 1px dotted gray;
    /* El 'padding' es el la separación del contenido de un elemento hasta el borde del mismo*/
    /* La etiqueta tiene 4 valores que hacen referencia a el espacio superior, derecho, inferior e 
    izquierdo (la dirección de las agujas del reloj).*/
    /* Estas propiedades 'multivalor' suelen poder hacers en varias propiedades, en este caso esta
    propiedad padding es lo mismo que poner:
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px */
    padding: 10px 10px 10px 10px; 
    /* Los tamaños se pueden definir en porcentajes en lugar de píxeles, que tomarán como referencia
    el tamaño del elemento html que contiene al selector y tomará de este el porcentaje que utiliza */
    margin-left: 20%;
    margin-right: 20%;
}