body{
    font-family: Verdana, Helvetica, Arial;
    font-size: small;
    line-height: 1.6em;
}

h1, h2{
    color: #007e7e
}

h1{
    font-size: 150%;
}

h2{
    font-size: 130%;
}

p{
    color: maroon;
}

em{
    font-family: serif;
}

p.greentea {
    color: green;
}

p.raspberry {
    color: blue;
}

p.blueberry {
    color: purple;  
}

p.cranberry {
    color: red;
}

#garantia {
    background-color: #a7cece;
    font-family: Georgia, 'Times New Roman', Times;
    font-style: italic;
    border: 1px dashed white;
    padding: 25px;
    padding-left: 80px;
    margin: 30px;
    margin-right: 250px;
    line-height: 1.9em;
    color: #444444;
    background-image: url(images/background.gif);
    background-repeat: no-repeat;
    background-position: top left;
}