@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');
div{
    margin: 50px;
}
ul li{
    font-family: 'Nerko One';
    font-size: x-large;
    border: 1px solid #788;
    background-color: #dedede;
    display: inline;
    margin-right: 10px;
    padding: 10px;
}

ul li:hover, ul li.activa:hover{
    background-color: #3fce9a;
    border-color: #2334ed;
}

ul li.activa{
    background-color: #f8f8f8;
}

ul li a{
    text-decoration: none;
    color: #3c3c3c;
}