body {
    font-family: Arial, sans-serif;
    background-color: rgb(247, 239, 239);
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  .centrar{
    margin-left: 45%;
  }
  
  .enviarMensaje {
    display: inline-block;
    width: 60%;
    margin: 0 auto;
    margin-top: 20px;
  }
  
  input[type="text"],
  input[type="password"],
  select {
    display: block;
    margin: 0 auto;
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    outline: none;
    transition: border-color 0.3s ease;
    font-size: 16px;
  }
  
  input[type="text"]:focus,
  input[type="password"]:focus,
  select:focus {
    border-color: #ff6b6b;
  }
  
  input[type="date"] {
    width: auto;
  }
  
  button {
    margin: 10px;
    text-align: center;
    padding: 10px 20px;
    background-color: #ff6b6b;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #ff4040;
  }
  
  h1,
  h2,
  h3 {
    margin-bottom: 10px;
    text-align: center;
    color: #333;
  }
  
  table{
    margin: 0 auto;
    width: 90%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  #datosPaciente > li, .tomas > li{
    margin-left:40%;
  }
  .modificar{
    margin-left: 35%;
  }
  .espacio{
    margin-left: 30%;
    margin: 30px;
  }
 
  
  th,
  td{
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
  }
  
  th{
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  ul {
    width: 70%;
    margin: 0 auto;
    list-style-type: none;
    padding-left: 0;
  }
  
  ul li {
    margin-bottom: 10px;
    text-align: justify;
    color: #555;
    font-size: 16px;
  }
  
  p {
    margin-bottom: 10px;
    text-align: justify;
    color: #555;
    font-size: 16px;
  }
  
  .seccion {
    display: none;
  }
  
  .activa {
    display: block;
  }
  